<div style="width: 70%; text-align: justify; display: block; margin: 50px auto;">

	<p><b><span>Mentions Légales</span></b></p>

	<p><b><span>Article
	1&nbsp;: Mentions légales</span></b></p>

	<p><span>Sneakify
	- SKO Conseil SASU au capital de 1000€</span></p>

	<p><span>Site
	internet&nbsp;vitrine : www.sneakify.fr</span></p>

	<p><span>WebApp&nbsp;:
	www.app.sneakify.fr</span></p>

	<p><span>84
	B Av de Fontainebleau, 94270, Le Kremlin-Bicetre</span></p>

	<p><span>Siret
	nº89827062400015</span></p>

	<p><b><span>&nbsp;</span></b></p>
	</div>