<div class="main">
    <div class="left">
        <img src="../../assets/img/T-Shirt.png">

    </div>
    <div class="right">
        <div class="top">
            <div class="totoArticle">
                <p class="gray">1 article</p>
                <p class="gray">34,95€</p>
            </div>

            <div class="livraison">
                <p class="gray">Frais de livraison</p>
                <p class="gray">Calculé au moment de la commande</p>
            </div>

            <div class="pay">
                <p class="gray">Pays de livraison</p>
                <p class="gray">au moment de la commande</p>
            </div>

            <div class="total">
                <p>TOTAL</p>
                <p class="ch">34,95€</p>
            </div>

            <div class="codePromo">
                <p class="gray">Code promotionnel</p>
                <p class="gray">au moment de la commande</p>
            </div>

            <div class="finish">FINALISER LA COMMANDE</div>
        </div>

        <div class="articlesAll">
            <div class="article">
                <div class="delete">
                    <p>Supprimer</p>
                </div>
                <div class="mid">
                    <div class="articleleft">
                        <img src="../../assets/img/T-Shirt.png">
        
                    </div>
                    <div class="articleright">
                        <div class="articleTitle">
                            <h4>T-Shirt Staff</h4>
                            <p>Staff Shirt Sneakify first drop.</p>
                        </div>
        
                        <div class="info">
                            <div>
                                <p>Taille</p>
                                <select name="test">
                                    <option>S</option>
                                    <option>M</option>
                                </select>
                            </div>
                            <div>
                                <p>Qté</p>
                                <select name="test">
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                            </div>
                            <div>
                                <p class="price">34,95€</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="article">
                <div class="delete">
                    <p>Supprimer</p>
                </div>
                <div class="mid">
                    <div class="articleleft">
                        <img src="../../assets/img/T-Shirt.png">
        
                    </div>
                    <div class="articleright">
                        <div class="articleTitle">
                            <h4>T-Shirt Staff</h4>
                            <p>Staff Shirt Sneakify first drop.</p>
                        </div>
        
                        <div class="info">
                            <div>
                                <p>Taille</p>
                                <select name="test">
                                    <option>S</option>
                                    <option>M</option>
                                </select>
                            </div>
                            <div>
                                <p>Qté</p>
                                <select name="test">
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                            </div>
                            <div>
                                <p class="price">34,95€</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>