<ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
<ngx-loading [show]="loadingPaye" [config]="{fullScreenBackdrop: true}"></ngx-loading>


<div class="main" *ngIf="!loading">
    <div class="left">
        <div id="image-carousel" class="splide">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide" *ngFor="let item of listImage">
                    <div class="part-img">
                        <img [src]="item" loading="lazy">
                    </div>
                </li>
              </ul>
            </div>
          </div>

    </div>
    <div class="right">
        <div class="top">
            <div class="totoArticle">
                <p class="gray">{{total.n}} {{'CART.p1' | translate}}</p>
                <p class="gray">{{total.price}}€</p>
            </div>

            <div class="livraison">
                <p class="gray">{{'CART.p2' | translate}}</p>
                <p class="gray">{{'CART.p3' | translate}}</p>
            </div>

            <div class="pay">
                <p class="gray">{{'CART.p4' | translate}}</p>
                <select [(ngModel)]="total.country" class="contrySelect">
                    <option value="FR">{{'CART.p5' | translate}}</option>
                    <option value="EUR">{{'CART.p6' | translate}}</option>
                </select>
            </div>

            <div class="total">
                <p>{{'CART.p7' | translate}}</p>
                <p class="ch">{{total.price}}€</p>
            </div>

            <div class="codePromo">
                <p class="gray">{{'CART.p8' | translate}}</p>

                <p class="gray">{{'CART.p9' | translate}}</p>
            </div>

            <div class="finish f"  *ngIf="MainList.length != 0" (click)="sendCart()">{{'CART.p10' | translate}}</div>
            <div class="finish" *ngIf="MainList.length == 0" [ngStyle]="{'background-color': 'gray'}">{{'CART.p11' | translate}}</div>

        </div>

        <div class="articlesAll">
            <div class="article" *ngFor="let item of MainList, let i = index">
                <div class="delete">
                    <p (click)="removeCart(item.id)">{{'CART.p12' | translate}}</p>
                </div>
                <div class="mid">
                    <div class="articleleft">
                        <img [src]="item.image">
        
                    </div>
                    <div class="articleright">
                        <div class="articleTitle">
                            <h4>{{item.nom}}</h4>
                            <p [innerHTML]="item.desc"></p>
                        </div>
        
                        <div class="info">
                            <div>
                                <p>{{'CART.p13' | translate}}</p>
                                <p [ngStyle]="{'padding-left': '5px'}">{{item.taille}}</p>
                            </div>
                            <div>
                                <p>Qté</p>
                                <select [(ngModel)]="item.q" (change)="getTotal()">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            
                            <div>
                                <p class="price">{{item.price}}€</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    
</div>