<div style="width: 70%; text-align: justify; display: block; margin: 50px auto;">

	<p><b><span>Conditions
	générales d'utilisation</span></b></p>

	<p><span>Les présentes conditions générales
	régissent l'utilisation de l'application Sneakify.</span></p>

	<p><span>Cette application appartient et est
	géré par SKO Conseil.</span></p>

	<p><span>En utilisant cette application,
	vous indiquez avoir lu et compris les conditions d'utilisation et que vous
	acceptez de les respecter en tout temps.</span></p>

	<p><b><u><span>Objet</span></u></b></p>

	<p><span>Les
	présentes «&nbsp;conditions générales d'utilisation&nbsp;» ont pour objet
	l'encadrement juridique de l'utilisation de l'application Sneakify et de ses
	services.</span></p>

	<p><span>En
	utilisant Sneakify, vous indiquez que vous avez lu et compris les conditions
	générales d'utilisation et que vous acceptez de les respecter en tout temps.</span></p>

	<p><span>Ce
	contrat est conclu entre&nbsp;:</span></p>

	<p><span>Le
	gérant de l'application, ci-après désigné «&nbsp;l'éditeur&nbsp;».</span></p>

	<p><span>Toute
	personne physique ou morale souhaitant accéder à l'application et à ses
	services, ci-après appelé «&nbsp;l'utilisateur&nbsp;».</span></p>

	<p><span>Les
	conditions générales d'utilisation doivent être acceptées par tous les
	utilisateurs, et son accès à l'application vaut acceptation de ces conditions.</span></p>

	<p><b><span>&nbsp;</span></b></p>

	<p><b><span>PROPRIÉTÉ
	INTELLECTUELLE</span></b></p>

	<p><span>Tout
	contenu publié et mis à disposition sur cette application est la propriété de
	SKO Conseil et de ses créateurs. Cela comprend, mais n'est pas limité aux
	images, textes, logos et tout ce qui contribue à la composition de cette
	application.</span></p>

	<p><b><span>&nbsp;</span></b></p>

	<p><b><span>&nbsp;</span></b></p>

	<p><b><span>Article
	1&nbsp;: Mentions légales</span></b></p>

	<p><span>Sneakify
	- SKO Conseil SASU au capital de 1000€</span></p>

	<p><span>Site
	internet&nbsp;vitrine : www.sneakify.fr</span></p>

	<p><span>WebApp&nbsp;:
	www.app.sneakify.fr</span></p>

	<p><span>84
	B Av de Fontainebleau, 94270, Le Kremlin-Bicetre</span></p>

	<p><span>Siret
	nº89827062400015</span></p>

	<p><b><span>&nbsp;</span></b></p>

	<p><b><span>Article
	2&nbsp;: Accès aux services</span></b></p>

	<p><span>L'application
	Sneakify donne accès aux services suivants&nbsp;:</span></p>

	<p><span>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span><span>Guides
	pour augmenter ses chances dans le resell</span></p>

	<p><span>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span><span>Programme
	quotidien détaillé online et instore</span></p>

	<p><span>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span><span>Espace
	de notifications</span></p>

	<p><span>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span><span>Espace
	moniteurs</span></p>

	<p><span>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span><span>Espace
	informations</span></p>

	<p><span>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span><span>Groupes
	de conversation</span></p>

	<p><span>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span><span>Espace
	releases (avec guide pour chaque releases)</span></p>

	<p><span>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span><span>Archives
	des anciennes releases</span></p>

	<p><span>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span><span>Espace
	ventes personnelles</span></p>

	<p><span>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span><span>Marketplace</span></p>

	<p><span>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span><span>Autofill</span></p>

	<p><span>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span><span>Hold or
	Sell</span></p>

	<p><span>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span><span>Support
	</span></p>

	<p><b><span>Article
	3&nbsp;: Utilisation acceptable</span></b></p>

	<p><span>En
	tant qu'utilisateur, vous acceptez d'utiliser notre application légalement et
	de ne pas l'utiliser à des fins illicites, à savoir&nbsp;:</span></p>

	<p><span>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span><span>Harceler
	ou maltraiter les autres utilisateurs</span></p>

	<p><span>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span><span>Violer
	les droits des autres utilisateurs</span></p>

	<p><span>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span><span>Pirater
	le compte d'un autre utilisateur</span></p>

	<p><span>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span><span>Agir de
	toute façon qui pourrait être considérée comme frauduleuse</span></p>

	<p><span>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span><span>Participer
	à toute activité illégale</span></p>

	<p><span>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span><span>Divulguer
	de fausses informations pouvant tromper les autres utilisateurs</span></p>

	<p><span>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span><span>Réaliser
	une promotion d'un concurrent&nbsp;/ CookGroup</span></p>

	<p><span>Si
	nous estimons que vous utilisez l'application illégalement ou d'une manière qui
	viole les conditions d'utilisation acceptable ci-dessus, nous nous réservons le
	droit de limiter, suspendre ou résilier votre abonnement. Nous nous réservons
	également le droit de prendre toutes les mesures juridiques nécessaires pour
	vous empêcher d'accéder à l'application. </span></p>

	<p><span>Les
	décisions de suspension et de bannissement prises par la direction sont
	définitives et non-négociables, ce qui signifie qu'aucun retour en arrière
	n'est envisageable.</span></p>

	<p><b><span>&nbsp;</span></b></p>

	<p><b><span>Article
	4&nbsp;: Comptes</span></b></p>

	<p><span>Lorsque
	vous créez un compte sur l'application, vous acceptez ce qui suit&nbsp;:</span></p>

	<p><span>1.<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span><span>Vous
	êtes le seul responsable de votre compte et de la sécurité et la
	confidentialité de votre compte, y compris les mots de passe ou les
	renseignements de nature délicate joints à ce compte.</span></p>

	<p><span>2.<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span><span>Tous
	les renseignements personnels que vous nous fournissez par l'entremise de votre
	compte sont à jour, exacts, et véridiques et que vous mettrez à jour vos
	renseignements personnels s'ils changent.</span></p>

	<p><span>Nous
	nous réservons le droit de suspendre ou de résilier votre compte si vous
	utilisez notre application illégalement ou si vous violez les conditions
	générales d'utilisation acceptable.</span></p>

	<p><b><span>&nbsp;</span></b></p>

	<p><b><span>Article
	5&nbsp;: Politique de remboursement</span></b></p>

	<p><b><span>&nbsp;</span></b></p>

	<p><span>Le
	délai de rétractation d'Apple de 14 jours n'est pas envisageable sur
	l'application mobile IOS Sneakify car l'accès à nos services demeure privé et
	confidentiel. </span></p>

	<p><span>Une
	annulation d'abonnement est envisageable pour arrêter les prochains
	prélèvements automatiques mais le mois payé ne peut pas être remboursé.</span></p>

	<p><b><span>Article
	6&nbsp;: Lois applicables</span></b></p>

	<p><span>Ce
	document est soumis aux lois applicables en France et vise à se conformer à ses
	règles et règlements nécessaires. Cela inclut la règlementation à l'échelle de
	l'UE énoncée dans le RGPD.</span></p>

	<p><b><span>Article
	7&nbsp;: Divisibilité</span></b></p>

	<p><span>Si,
	à tout moment, l'une des dispositions énoncées dans le présent document est
	jugée incompatible ou invalide en vertu des lois applicables, ces dispositions
	seront considérées comme nulles et seront retirées du présent document. Toutes
	les autres dispositions ne seront pas touchées par les lois et le reste du
	document sera toujours considéré comme valide.</span></p>

	<p><b><span>Article
	8&nbsp;: Modifications</span></b></p>

	<p><span>Ces
	conditions générales peuvent être modifiées de temps à autre afin de maintenir
	le respect de la loi et de refléter tout changement à la façon dont nous gérons
	notre application et la façon dont nous nous attendons à ce que les
	utilisateurs se comportent. Nous recommandons à nos utilisateurs de vérifier
	ces conditions générales de temps à autre pour s'assurer qu'ils sont informés
	de toute mise à jour.</span></p>

	<p><b><span>Article
	9&nbsp;: Contact</span></b></p>

	<p><span>Veuillez
	communiquer avec nous si vous avez des questions ou des préoccupations en vous
	rendant dans les outils de l'application puis dans l'espace Support.</span></p>

	</div>