<div class="band">
    <p>{{'BAND.p1' | translate}}</p>
    <div class="btnsavoirplus" (click)="openautofill()">{{'BAND.p2' | translate}}</div>
</div>

<section id="accueil">
    <img data-aos="fade-right" data-aos-delay="300" src="assets/img/fonctionnalités/main1.png" class="img1" alt="Iphone Sneakify">
    <img data-aos="fade-left" data-aos-delay="600" src="assets/img/fonctionnalités/main2.png" class="img2" alt="Iphone Sneakify 2">
    <div class="center">
        <h1 data-aos="fade-down" id="test" data-aos-anchor="#accueil">
            {{'HOME.h1' | translate}}
             <span>
                {{'HOME.h2' | translate}}
            </span> 
            {{'HOME.h3' | translate}}
        </h1>
        <p data-aos="fade-down" data-aos-delay="300" data-aos-anchor="#accueil">
            {{'HOME.p1' | translate}}
        </p>

        <div class="bouttons">
            <a href="https://apps.apple.com/fr/app/sneakify/id1515974803" target="_blank" data-aos="zoom-in" data-aos-anchor="#accueil">
                {{'HOME.p2' | translate}}

            </a>
        </div>
    </div>
    <div class="opacitywhite opa" [ngStyle]="{'height': tkt1}"></div>
</section>

<section id="fonctionnalités">
    <h3 data-aos="fade-down">
        {{'HOME.p3' | translate}}

    </h3>
    <h2 data-aos="fade-down" data-aos-delay="100">
        {{'HOME.p4' | translate}}

    </h2>
    <p class="sous" data-aos="fade-down" data-aos-delay="200">
        {{'HOME.p5' | translate}}

        <br/>
        {{'HOME.p6' | translate}}

    </p>
    <ul>
        <li data-aos="fade-right" id="img1">
            <div>
                <p>
                    {{'HOME.p7' | translate}}

                </p>
                <p>
                    {{'HOME.p8' | translate}}

                </p>
                <a href="https://apps.apple.com/fr/app/sneakify/id1515974803" target="_blank">
                    {{'HOME.p9' | translate}}

                </a>
            </div>
            <div class="imgg">
                <img src="assets/img/fonctionnalités/guidesreleases.webp" alt="Iphone Guides releases">
            </div>
        </li>
        <li data-aos="fade-left" id="img2">
            <div class="imgg">
                <img src="assets/img/fonctionnalités/raffles.webp" alt="Iphone Raffles">
            </div>
            <div>
                <p>Raffles</p>
                <p>
                    {{'HOME.p10' | translate}}
                         
                </p>
                <a href="https://apps.apple.com/fr/app/sneakify/id1515974803" target="_blank">
                    {{'HOME.p11' | translate}}

                </a>
            </div>
        </li>
        <li data-aos="fade-right" id="img3">
            <div>
                <p>
                    {{'HOME.p12' | translate}}

                </p>
                <p>
                    {{'HOME.p13' | translate}}
                        
                </p>
                <a href="https://apps.apple.com/fr/app/sneakify/id1515974803" target="_blank">
                    {{'HOME.p14' | translate}}

                </a>
            </div>
            <div class="imgg">
                <img src="assets/img/fonctionnalités/suivi.webp"  alt="Image Suivi des ventes">
            </div>
        </li>
        <li data-aos="fade-left" id="img4">
            <div class="imgg">
                <img src="assets/img/fonctionnalités/notif.webp" alt="Image Notif">
            </div>
            <div>
                <p>Notifications</p>
                <p>
                    {{'HOME.p15' | translate}}

                </p>
                <a href="https://apps.apple.com/fr/app/sneakify/id1515974803" target="_blank">
                    {{'HOME.p16' | translate}}

                </a>
            </div>
        </li>
        <li data-aos="fade-right" id="img5">
            <div>
                <p>
                    {{'HOME.p17' | translate}}

                </p>
                <p>
                    {{'HOME.p18' | translate}}
                        
                </p>
                <a href="https://apps.apple.com/fr/app/sneakify/id1515974803" target="_blank">
                    {{'HOME.p19' | translate}}

                </a>
            </div>
            <div class="imgg">
                <img src="assets/img/fonctionnalités/marche.webp" alt="Image Marché">
            </div>
        </li>
        <li data-aos="fade-left" id="img6">
            <div class="imgg">
                <img src="assets/img/fonctionnalités/conv.webp" alt="Image Conversations">
            </div>
            <div>
                <p>
                    {{'HOME.p20' | translate}}

                </p>
                <p>
                    {{'HOME.p21' | translate}}
                        
                </p>
                <a href="https://apps.apple.com/fr/app/sneakify/id1515974803" target="_blank">
                    {{'HOME.p21.1' | translate}}
                </a>
            </div>
        </li>
        <li data-aos="fade-right" id="img7">
            <div>
                <p>
                    {{'HOME.p22' | translate}}

                </p>
                <p>
                    {{'HOME.p23' | translate}}
                        
                </p>
                <a href="https://apps.apple.com/fr/app/sneakify/id1515974803" target="_blank">
                    {{'HOME.p24' | translate}}
                </a>
            </div>
            <div class="imgg">
                <img src="assets/img/fonctionnalités/carde.png" alt="Image Iphone Outils" class="modifwidth">
            </div>
        </li> 
    </ul>
</section>

<section id="more">
    <h3 data-aos="zoom-in">
        {{'HOME.p25' | translate}}

    </h3>
    <h2 data-aos="fade-down">
        {{'HOME.p26' | translate}}

    </h2>
    
    <p data-aos="fade-up">
        {{'HOME.p27' | translate}}
    </p>

    <img src="assets/img/fonctionnalités/reglage.png" id="img1" data-aos="fade-right" data-aos-delay="100" alt="IPHONE Sneakify">
    <img src="assets/img/fonctionnalités/bottom2.webp" id="img2" data-aos="fade-left"  data-aos-delay="300" alt="IPHONE Sneakify">

    <img src="assets/img/fonctionnalités/newleak.png" id="img3" alt="IPHONE Sneakify Dark Mode">

    <div class="opa opacityblack" [ngStyle]="{'height': tkt2}" ></div>
</section>
<section id="newsletter">
    <h2 data-aos="fade-down">
        {{'HOME.p28' | translate}}

    </h2>
    <p data-aos="fade-down" data-aos-delay="100">
        {{'HOME.p29' | translate}}
            
        <br/> 
        {{'HOME.p30' | translate}}

    </p>
    <div class="form">
        <form method="post" action="" data-aos="fade-up" data-aos-delay="200">
            <input type="text" placeholder="email@domain.com" name="email" id="email" [(ngModel)]="input" required>
            <button type="submit" name="submit" id="submit" (click)="newsLetter()">
                {{'HOME.p31' | translate}}

            </button>
        </form>
        <p class="infonews modifinfo" [ngStyle]="valider.val? {'color': 'green'}:{'color': 'red'}" >{{valider.msg}}</p>

    </div>

</section>
<section id="applestore">
    <img src="assets/img/fonctionnalités/suivievente.png" id="img4" alt="IPHONE Sneakify Dark mode 2">
    <div class="opa opacityblack" [ngStyle]="{'height': tkt2}" style="transform: unset; bottom: unset; top: -2px;"></div>
</section>

<div class="test">
    <div *ngIf="getCurrentLanguage() == 'fr'" class="elfsight-app-5b4b33d2-0831-4d3b-b591-65cd04a8cd97" style="margin-top: -200px; margin-bottom: 50px; width: 100%;"></div>
    <div *ngIf="getCurrentLanguage() != 'fr'" class="elfsight-app-a5e7cf23-8223-43a4-aafd-fe3e622e9e32" style="margin-top: -200px; margin-bottom: 50px; width: 100%;"></div>
</div>

<div class="popNewsLetter" *ngIf="newLetter">
    <span class="material-symbols-outlined" (click)="closePopUp()">
        close
        </span>
    <h2>{{'HOME.p28' | translate}}
        <br>
        {{'HOME.p28.2' | translate}}</h2>

    <p>{{'HOME.p29' | translate}}<br>
        {{'HOME.p33' | translate}}<br>
        {{'HOME.p30' | translate}}</p>

    <div class="form">
        <form method="post" action="">
            <input type="text" placeholder="email@domain.com" name="email" id="email" [(ngModel)]="input" required>
            <button type="submit" name="submit" id="submit" (click)="newsLetter()">
                {{'HOME.p31' | translate}}
            </button>
            
        </form>
            <p class="infonews" [ngStyle]="valider.val? {'color': 'green'}:{'color': 'red'}" >{{valider.msg}}</p>
            
        
    </div>

    
</div>



<div id="popup">
    <label (click)="openautofill()">X</label>
    <h2>L'autofill Sneakify est disponible !</h2>
  
  
    <h3>Mais maintenant comment l'installer ?</h3>
    <ul>
      <li>-Vous venez de télécharger un fichier en .zip</li>
      <li>- Vous devez l'unziper, ouvrer le fichier et vous allez trouver un autre fichier "Sneakify_Autofill_Export"</li>
      <li>- Ce fichier, glissez le sur votre bureau</li>
      <li>- Ensuite sur Google Chrome et uniquement sur Google Chrome allez sur les 3 petits points <img src="assets/img/3dots.png"> tout en haut à droite et ensuite sur "Plus d'outils" et ensuite "Extensions"</li>
      <li>- Pour l'ajouter, dernière étape, cliquez sur "Charger l'extension non empaquetée" <img src="assets/img/extensions.png"> et ajouter le fichier Sneakify, si vous n'arrivez pas à faire ça, plus simple, glissez le fichier de votre bureau à cette page.</li>
      <li>- Pour le rendre visible, tout en haut de votre page Google Chrome, appuyez sur la pièce de puzzle <img src="assets/img/puzzle.png"> et épingler l'Autofill !</li>
      <li>- Cliquez sur le logo et l'autofill est ouvert !</li>
    </ul>
    <p>Si vous avez besoin d'aide, rendez-vous sur le support Sneakify ou sur notre Instagram : @sneakify_fr</p>
  
    <div class="bouttons">
      <a href="https://sneakify.fr/assets/Sneakify_Autofill_Export.zip" target="_blank">
          Télécharger gratuitement
      </a>
    </div>
  </div>