<div style="width: 70%; text-align: justify; display: block; margin: 50px auto;">

    <p><b><span>Politique de confidentialité Sneakify</span></b></p>
    <br/>
    <p><b><span>Article 1 : Renseignements personnels</span></b></p>
    <br/>
    <p>Lorsque vous souscrivez un abonnement à Sneakify, nous recueillons quelques données personnelles vous concernant comme votre nom, prénom et adresse mail qui peuvent nous permettre à tout moment de modifier un de ces caractères en cas de besoin.
        <br/>
        <br/>
        Votre adresse IP, lorsque vous naviguez sur le site www.sneakify.fr, est recueilli dans le but d'obtenir plus de détails au sujet du navigateur et du système d'exploitation que vous utilisez.
    </p>
    
    <br/>
    <p><b><span>Article 2 : Consentement</span></b></p>
    <br/>
    <p>Lorsque vous finalisez une souscription, vous acceptez explicitement que nous ayons accès à vos données renseignées précédemment.<br/>
        Sneakify ne vous demandera jamais vos données personnelles comme vos numéros de carte bleue ou votre adresse postale.<br/>
        Vous pouvez à tout moment vous désabonner, et dans ce cas-là, nous aurons accès à aucune de vos données personnelles.</p>
    
    <br/>
    <p><b><span>Article 3 : Divulgation</span></b></p>
    <br/>
    <p>Si la loi nous oblige à le faire, nous serons dans l'obligation de renseigner vos données personnelles notamment si vous violez nos CGU.</p>
    
    <br/>
    
    <p><b><span>Article 4 : Sécurité</span></b></p>
    <br/>
    <p>Sneakify s'engage à protéger vos données personnelles et prend des précautions afin qu'elles ne soient pas perdues, détournées, modifiées, détruites ou utilisées à votre insu.<br/>
        Vos informations bancaires, après souscription, seront chiffrées par le bais de l'utilisation du protocole de sécurisation SSL et conservées avec un chiffrement de type AES-256. Tout est mis en œuvre pour garder toutes ces données privées et uniquement visibles par les développeurs Sneakify.</p>
    
    <br/>
    <p><b><span>Article 5 : Âge légal</span></b></p>
    <br/>
    <p>En souscrivant un abonnement ou en utilisant le site, vous déclarez avoir au moins l'âge de la majorité dans votre État ou province de résidence ou que vous avez donné votre consentement à toute personne mineure souhaitant utiliser le site ou souscrire un abonnement à l'application.</p>
    
    
    <br/>
    <p><b><span>Article 6 : Modifications</span></b></p>
    <br/>
    <p>Sneakify se réserve le droit de modifier la présente politique de confidentialité à tout moment si elle ne convient plus aux règles actuelles.<br/>
        Si une modification est apportée, elle prendra un effet immédiat après la publication sur le site web ou application.</p>
    
    
    <br/>
    <p><b><span>Questions :</span></b></p>
    <br/>
    <p>Si vous souhaitez poser des questions à notre assistance nous vous donnons rendez-vous dans le support de l'application ou sur notre compte Instagram @sneakify_fr.
        <br/>
        Merci et bonne continuation sur notre site ou application !</p>
</div>